h1,h2,h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: 'Roboto Slab', serif;
    text-align: justify;
    text-justify: inter-word;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-style: italic;
}

td {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-style: normal;
}

th {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-style: italic;
}

